.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    gap: 30px;
}

.navigation {
    display: flex;
    gap: 15px;
    align-items: center;
}

.link {
    padding: 6px 12px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;

    background-color: #eee;
    color: #000;

    transition: all 0.2s ease;
}

.link:hover {
    background-color: #dcdcdc;
}

.active {
    background-color: var(--primary);
    color: white;
}

.active:hover {
    background-color: var(--primary-hover);
}